# Node.js
**/*.js
node_modules
# .vscode
**/*.map
!rollup.config.js
!commitlint.config.js
!/miniprogram/miniprogram_npm/annil/*
!tailwind.config.js
!postcss.config.js
!.prettierrc.js
project.private.config.json
/cloudBase/cloudfunctions/wx-ext-cms-api
/cloudBase/cloudfunctions/wx-ext-cms-fx-openapi
/cloudBase/cloudfunctions/wx-ext-cms-init
/cloudBase/cloudfunctions/wx-ext-cms-openapi
/cloudBase/cloudfunctions/wx-ext-cms-service
/cloudBase/cloudfunctions/wx-ext-cms-sms